<h1>New Post</h1>

<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "author", "Author" %>
    <%= form.text_field "author" %>
  </p>
  <p>
    <%= form.label "body", "Body" %>
    <%= form.text_field "body" %>
  </p>
  <p>
    <%= form.label "image", "Image URL" %>
    <%= form.text_field "image" %>
  </p>
  <%= form.submit %>
<% end %>
 